includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app

    scanFiles:
        # - _ide_helper.php
        # - _ide_helper_models.php

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#^Call to method \w+\(\) on an unknown class Spatie\\YiiRay\\Ray\.$#'
        - '#^Call to method \w+\(\) on an unknown class Spatie\\WordPressRay\\Ray\.$#'
        - '#^Call to method \w+\(\) on an unknown class Spatie\\RayBundle\\Ray\.$#'
        - '#^Attribute class JetBrains\\PhpStorm\\Pure does not exist.$#'
        - '#^Parameter \#2 \$currency of function displayCurrency expects App\\Models\\Currency\|null, Illuminate\\Database\\Eloquent\\Model\|null given.$#'
        - '#^Parameter \#2 \$format of static method JamesMills\\LaravelTimezone\\Timezone::toLocal\(\) expects null, string given.$#'
        - '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model*#'
        - '#^Access to an undefined property object::*#'
        - '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model*#'
        - '#^Call to an undefined method Spatie\\Searchable\\ModelSearchAspect*#'
        - '#^Access to an undefined property App\\Http\\Resources\\*#'
        - '#^PHPDoc tag @mixin contains unknown class App\\Models\S*$#'
        - '#^Call to an undefined method Symfony\\Component\\HttpFoundation\\Response::status\(\).$#'

    # excludePaths:
    #     - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
    checkOctaneCompatibility: true
    checkModelProperties: false
