/*@import url('https://rsms.me/inter/inter.css');*/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-size: 16px;
}

.vc-container {
  --gray-100: theme('colors.gray.100') !important;
  --gray-200: theme('colors.gray.200') !important;
  --gray-300: theme('colors.gray.300') !important;
  --gray-400: theme('colors.gray.400') !important;
  --gray-500: theme('colors.gray.500') !important;
  --gray-600: theme('colors.gray.600') !important;
  --gray-700: theme('colors.gray.700') !important;
  --gray-800: theme('colors.gray.800') !important;
  --gray-900: theme('colors.gray.900') !important;
  --pink-100: theme('colors.fuchsia.100') !important;
  --pink-200: theme('colors.fuchsia.200') !important;
  --pink-300: theme('colors.fuchsia.300') !important;
  --pink-400: theme('colors.fuchsia.400') !important;
  --pink-500: theme('colors.fuchsia.500') !important;
  --pink-600: theme('colors.fuchsia.600') !important;
  --pink-700: theme('colors.fuchsia.700') !important;
  --pink-800: theme('colors.fuchsia.800') !important;
  --pink-900: theme('colors.fuchsia.900') !important;

  select {
    background-image: none;
  }
}

.vc-container {
  .vc-select {
    select {
      background-image: none;
    }
  }
}
